{{ if .Site.Params.enablePreloadingAnim }}
<div id="loading-box">
    <div class="loading-left-bg"></div>
    <div class="loading-right-bg"></div>
    <div class="spinner-box">
        <div class="configure-border-1"><div class="configure-core"></div></div>
        <div class="configure-border-2"><div class="configure-core"></div></div>
        <div class="loading-word">加载中...</div>
    </div>
</div>
<script>
    window.addEventListener("load", function () {
        const loadingBox = document.getElementById('loading-box');
        if (loadingBox) {
            setTimeout(function () { loadingBox.classList.add("loaded"); }, 500);
        }
    });
</script>
{{ end }}